<div class="h-full flex flex-col justify-center items-center">
    <h1 class="font-semibold mb-8 text-[32px]">Change password</h1>

    <form class="flex flex-col gap-y-1 w-[300px]" [formGroup]="authForm">
        <mat-form-field class="w-full">
            <mat-label>Old password</mat-label>
            <input id="oldPassword" matInput type="password" [formControlName]="'oldPassword'">
            <mat-error *ngIf="authForm.get('oldPassword').hasError('required')">
                Old password is required
            </mat-error>
            <mat-error *ngIf="authForm.get('oldPassword').hasError('invalidPassword')">
                Old password is invalid
            </mat-error>
        </mat-form-field>


        <span *ngIf="currentUser?.password_restricted" class="-mt-1 mb-3">
            New password must contain at least one latin letter, a cyrillic character and a punctuation mark.
        </span>

        <mat-form-field class="w-full">
            <mat-label>New password (at least 6 characters)</mat-label>
            <input id="newPassword" matInput type="password" [formControlName]="'newPassword'">
            <mat-error *ngIf="authForm.get('newPassword').hasError('required')">
                New password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Confirm new password</mat-label>
            <input id="newPasswordConfirm" matInput type="password" 
                [formControlName]="'newPasswordConfirm'">
            <mat-error *ngIf="authForm.get('newPasswordConfirm').hasError('required')">
                New password confirmation is required
            </mat-error>
            <mat-error *ngIf="authForm.get('newPasswordConfirm').hasError('mustMatch')">
                New passwords must match
            </mat-error>
        </mat-form-field>

        <div class="flex justify-between px-10 items-center text-3xl h-[100px] mb-2" 
            style="background-image: url('./assets/captcha-bg.png');">
            <div *ngFor="let captcha of currentCaptcha">
                <b>{{captcha}}</b>
            </div>
        </div>
          
        <mat-form-field class="w-full">
            <mat-label>Enter captcha</mat-label>
            <input matInput class="h-4" type="text" formControlName="captcha" maxlength="5">
        </mat-form-field>

        <button mat-button
            class="w-40  bg-blue-600 text-white flex justify-center mx-auto font-semibold mt-2"
            [disabled]="!authForm.valid" (click)="changePassword(authForm.value)">
            <span *ngIf="!authForm.disabled">Change</span>
        </button>
    </form>
</div>
