@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    min-height: 100%;
}

button:disabled {
    @apply opacity-70 grayscale;
}

mat-error {
    @apply text-red-600;
}
