<div class="flex flex-col gap-y-4 p-4">
    <button mat-button (click)="toggleDescription()"
        class="w-40 h-10 bg-blue-600 text-white flex justify-center items-center font-semibold">
        <span *ngIf="!isShowed">Show</span>
        <span *ngIf="isShowed">Hide</span>
        <span class="ml-0.5">author info</span>
    </button>
    
    <div *ngIf="isShowed" class="flex flex-col gap-y-1">
        <p>Author: Kukla Nadya</p>
        <p>Group: 124-20-1</p>
        <p>Variant: 11</p>
    </div>
</div>